<link rel='stylesheet' href='/stylesheets/test-pages/create.css' />
<link rel='stylesheet' href='/stylesheets/test-pages/media-create.css' />

{{>navigation}}

<div class="container">
    <h1 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Choose words for test</h1>
    <ul class="container-create-test grid w-full gap-6 md:grid-cols-4">
        {{#each allWords}}
            <li>
                <input type="checkbox" id="{{this._id}}" value="" class="hidden peer" required="">
                <label for="{{this._id}}" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <div class="image" style="background-image: url('{{this.current.image}}')"></div>
                        <div class="word w-full text-lg font-semibold">{{this.word}}</div>
                        <div class="example-from w-full text-sm">{{this.current.example.from}}</div>
                    </div>
                </label>
            </li>
        {{/each}}
    </ul>
    <div>
        <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title test</label>
        <input type="text" id="title" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Title test" required>
    </div>

    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description test</label>
    <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>

    <button type="button" id="create-test" class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create test</button>
</div>

<script src="/javascripts/test-pages/create.js"></script>
